table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
  margin-left: 21%; /* Menambahkan margin kiri auto untuk menggeser tabel ke kanan */
  margin-right: 0; /* Menghapus margin kanan */
  margin-top: 70px;
}
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .status-container {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
  }
  
  .status-ditunda {
    background-color: #ffc107;
    color: #fff;
  }
  
  .status-sukses {
    background-color: #4caf50;
    color: #fff;
  }
  
  .status-diterima {
    background-color: #00bcd4;
    color: #fff;
  }
  
  .status-ditolak {
    background-color: #f44336;
    color: #fff;
  }
  
body {
    font-size: 1rem;
    overflow-x: hidden;
}


/* MAIN CONTENT */
.status-header {
    margin-top: 90px; /* Jarak dari navbar untuk memastikan tidak tertutup */
    font-size: 20px; /* Ukuran teks lebih besar sedikit */
    font-weight: bold; /* Teks lebih tebal */
    text-align: center; /* Posisikan teks di tengah */
    margin-right: 580px;
}

.status-header-kecil {
    font-size: 13px; /* Ukuran teks lebih besar sedikit */
    text-align: center; /* Posisikan teks di tengah */
    margin-right: 650px;
}



main {
    padding-top: 120px; 
}

.main-content {
    padding-top: 100px; 
}

table{
    margin-top: 20px;
}

form {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
}

form .form-control, form .form-select {
    margin-bottom: 10px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-right: 600px;
}

.pagination a {
    text-decoration: none;
    color: #333;
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #e0e0e0;
}

.pagination .active {
    background-color: #ddd;
    font-weight: bold;
}


/* Style untuk panah kecil di samping status "Sukses" */
.arrow {
  font-size: 0.8rem;
  cursor: pointer;
  margin-left: 5px;
}

/* Style untuk kotak kecil "Beri Ulasan" */
.review-box {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px;
  position: absolute;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 10;
}

.review-box a {
  text-decoration: none;
  color: #00050a;
  font-weight: bold;
}



