/* Navbar */
.navbar {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff !important;
    color: #070707;
    padding: 5px 5px !important;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Ubah font di semua bagian */
.navbar .nav-link,
.navbar .navbar-brand,
.navbar .nav-item-username {
    font-family: 'Poppins', sans-serif;
}
.navbar-brand
{
    color: #070707 !important; /* Warna teks brand navbar menjadi hitam */
    font-weight: bold;
    border-radius: 50%;

}

.navbar .nav-link {
    color: #070707 !important; /* Warna teks link navbar menjadi hitam */
    text-decoration: none !important ;/* Menghapus garis bawah (underline) */
}

.navbar .nav-link:hover {
    text-decoration: none !important; /* Pastikan tidak ada garis bawah saat hover */
}

body, .navbar, .sidebar, form, .notif-panel {
    font-family: 'Poppins', sans-serif;
}

