

body {
    font-size: 1rem;
    overflow-x: hidden;
}



/* Panel Notifikasi */
.notif-panel {
    display: none;
    position: absolute;
    top: 60px; /* Di bawah navbar */
    right: 20px;
    width: 350px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
    z-index: 1000;
    padding: 15px;
    font-family: Arial, sans-serif;
}
.notif-panel hr {
    border: none; /* Menghilangkan border default */
    border-top: 1px solid #ccc; /* Gaya garis */
    margin: 10px 0; /* Jarak atas dan bawah */
    width: 100%; /* Mengatur lebar penuh */
}

.notif-header {
    font-weight: bold;
    color: #333;
    text-align: center;
}

.notif-panel ul {
    list-style: none;
    padding: 0;
}

.notif-panel ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.notif-panel ul li:last-child {
    border-bottom: none;
}

.show-more {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.show-more:hover {
    text-decoration: underline;
}


.accordion-button {
    background-color: #f7f7f7;
    border: none;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.accordion-button::before {
    content: "\e75f";
    font-family: 'Glyphicons Halflings';
    font-size: 16px;
    margin-right: 10px;
}

.accordion-button[aria-expanded="true"] {
    background-color: #e6e6e6;
}

.accordion-button[aria-expanded="true"]::before {
    content: "\e76a";
}

.accordion-body {
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}